body {
    font-family: Arial;
    background: linear-gradient(135deg,#4f46e5,#9333ea);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card {
    background:white;
    padding:30px;
    border-radius:10px;
    text-align:center;
    width:350px;
}

.card.wide {
    width:900px;
    overflow-x:auto;
}

input {
    padding:10px;
    margin:10px;
}

button {
    padding:10px;
}

table {
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th {
    background:#111827;
    color:white;
    padding:10px;
}

td {
    padding:10px;
    border-bottom:1px solid #ddd;
}

.url-cell {
    max-width:300px;
    word-break:break-all;
}