.card.wide {
    width: 95%;
    max-width: 1000px;
    overflow-x: auto;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th {
    background-color: #1f2937;
    color: white;
    padding: 12px;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: #111827;
    font-size: 14px;
    word-wrap: break-word;
}

/* 🔥 IMPORTANT FIX */
.url-cell {
    max-width: 300px;
    word-break: break-all;
}

/* Alternate rows */
tr:nth-child(even) {
    background-color: #f9fafb;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #e5e7eb;
}

a {
    color: #2563eb;
    text-decoration: none;
    word-break: break-all;
}